<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='docs.css') }}">
    <title>TalkPole</title>
</head>
<body>
  <div class="navbar">
    <span class="logo">
      <h1 class="title-nav">TalkPole</h1>
    </span>
    <span class="links">
        <a href="/">Home</a>
        <a href="https://www.github.com/Redtius/">Github</a>
    </span>
</div>
  <main>
    <div class="cards">
    <div class="card">
      <div class="card-img"><img src="{{ url_for('static', filename='deep_learning.jpeg') }}" alt="deep learning"/></div>
      <div class="card-text">
        <div class="card-title">Deep Learning Basics</div>
        <div class="card-description"> All deep learning basics using keras...</div>
        <div class="btn-container">
        <a class="btn" href="{{ url_for('static', filename='Deep_learning_Basics.pdf') }}">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
          </svg>
        </a>
        <a class="btn" download href="{{ url_for('static', filename='Deep_learning_Basics.pdf') }}">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
          </svg>
        </a>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="card-img"><img src="{{ url_for('static', filename='cnn.png') }}" alt="deep learning"/></div>
      <div class="card-text">
        <div class="card-title">CNN Basics</div>
        <div class="card-description"> CNN basics using keras...</div>
        <div class="btn-container">
        <a class="btn" href="{{ url_for('static', filename='CNN_Basics.pdf') }}">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
          </svg>
        </a>
        <a class="btn" download href="{{ url_for('static', filename='CNN_Basics.pdf') }}">
          <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
          </svg>
        </a>
      </div>
      </div>
    </div>
  </div>

    
  </main>
  <footer style="font-weight: 900;text-align: center; padding: 10px 0px; margin-top:10px; background-color: #666; position: fixed; color:#323232; bottom:0%; width:100%">
    <p>&copy; Ce projet est sous licence Apache 2.0</p>
  </footer>
</body>
</html>
