<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>TalkPole</title>
</head>
<body>
<div class="navbar">
    <span class="logo">
      <h1 class="title-nav">TalkPole</h1>
    </span>
    <span class="links">
        <!--<a href="/docs">Docs</a>-->
        <a href="https://www.github.com/Redtius/">Github</a>
    </span>
</div>
<div class="main-section">
  <div class="main">
        <form class="form" method="POST">
            <div class="title">Vous souhaitez essayer les modèles Talkpole ?<br><span>Entrez votre texte</span></div>
            <textarea class="input" placeholder="Insérez votre texte ici..." id="textInput" name="textInput" rows="4" cols="50" maxlength="500" required></textarea>
            <button class="button-confirm" type="submit">Soumettre</button>
          </form>
    </div>
    <div class="result">
            {% if prediction_cnn != None and prediction_lstm != None and prediction_cbi != None %}
            <div class="polarity-bar">
                <div class="polarity-line" style="left:{{prediction_cnn*100}}%;">
                    <div class="model-name">CNN</div>
                    <div class="model-pred">{{prediction_cnn|round(2)}}</div>
                </div>
                <div class="polarity-line" style="left:{{prediction_lstm*100}}%;color:blue;background-color:blue;">
                    <div class="model-name">LSTM</div>
                    <div class="model-pred">{{prediction_lstm|round(2)}}</div>
                </div>
                <div class="polarity-line" style="left:{{prediction_cbi*100}}%;color:purple;background-color:purple;">
                    <div class="model-name">CBI</div>
                    <div class="model-pred">{{prediction_cbi|round(2)}}</div>
                </div>
                    
            </div>
            {% else %}
            <div class="polarity-bar">
                <div class="polarity-line"></div>
            </div>
            {% endif %}
    </div>
    <footer style="font-weight: 900;text-align: center; padding: 10px 0px; margin-top:10px; background-color: #666; position: fixed; color:#323232; bottom:0%; width:100%">
        <p>&copy; Ce projet est sous licence Apache 2.0</p>
    </footer>
</div>
</body>
</html>
